{% extends 'layouts/basic.html' %}

{% block title %} Passwords {% endblock %}

{% block script %}
<script>
    function copyTextToClipboard(text) {
        if (!navigator.clipboard) {
            fallbackCopyTextToClipboard(text);
            return;
        }
        navigator.clipboard.writeText(text).then(function () {
            console.log('Async: Copying to clipboard was successful!');
        }, function (err) {
            console.error('Async: Could not copy text: ', err);
        });
    }

    function setOnClicks() {
        let table_rows = document.getElementsByTagName('tr');

        for (let i = 0; i < table_rows.length; i++) {
            table_rows[i].onclick = () => {
                cell = table_rows[i].getElementsByTagName('td')[4];
                copyTextToClipboard(cell.innerHTML)
            }
        }
    }

    setOnClicks();
</script>
{% endblock %}

{% block style %}
<style>
    body {
        background-color: #212529;
        padding-top: 1%;
    }
    caption {
        text-align: center;
        color: white;
        margin-bottom: 3%;
    }
    table {
        font-size: 14px;
    }
    tr {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<table class="table table-sm table-dark table-hover caption-top">
    <caption>
        <h1>
            Password Manager
        </h1>
    </caption>

    <thead>
        <th scope="col">
            #
        </th>
        <th scope="col">
            Name
        </th>
        <th scope="col">
            Url
        </th>
        <th scope="col">
            Username
        </th>
        <th scope="col">
            Password
        </th>
    </thead>

    <tbody class="table-group-divider">
        {% for password in passwords %}
        <tr>
            <td>
                {{ password.id }}
            </td>
            <td>
                {{ password.name }}
            </td>
            <td>
                {{ password.url }}
            </td>
            <td>
                {{ password.username }}
            </td>
            <td>
                {{ password.password }}
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}